<% if ENV.fetch('ENABLE_ACCOUNT_SEEDING', !Rails.env.production?)  %>
<section class="main-content__body">
 <hr/>
  <%= form_for([:seed, namespace, page.resource], method: :post, html: { class: "form" }) do |f| %>

  <div class="form-actions">
    <div><p>  Clique no botão para gerar dados iniciais nesta conta para demonstrações.</p>
  <p class="text-color-red">Observação: isso limpará todos os dados existentes nesta conta.</p>
  </div>
    <%= f.submit 'Generate Seed Data' %>
  </div>
  <% end %>
</section>
<% end %>
