<p>Olá,</p>

<p>A importação do seu contato foi concluída. Verifique a guia de contatos para visualizar os contatos importados.</p>

<p>Número de registros importados: {{meta['imported_contacts']}}</p>

<p>Número de registros com falha: {{meta['failed_contacts']}}</p>

{% if meta['failed_contacts'] == 0 %}
  <p>
    Clique <a href="{{action_url}}">aqui</a> para visualizar os contatos importados.
  </p>
{% else %}
  <p>
  Clique <a href="{{ action_url }}" target="_blank">aqui</a> para visualizar registros com falha.
  </p>
{% endif %}
