<p>Olá,</p>

<p>A importação do seu contato falhou. Parece que o arquivo CSV que você enviou pode não ser válido. Solicitamos que você revise o arquivo e garanta que ele esteja em conformidade com o formato exigido.<p/>
