<p>Olá,</p>
<p>Sua importação de contatos falhou. Parece que o arquivo CSV que você enviou pode não ser válido. Solicitamos gentilmente que você revise o arquivo e garanta que ele esteja em conformidade com o formato necessário.<p/>