<p>Olá,</p>

<p>Seu canal de entrada de e-mail foi desconectado devido a erros de configuração.</p>
<p>Por favor, atualize-a para continuar recebendo mensagens.</p>

<p>
Clique <a href="{{action_url}}">aqui</a> para reconectar.
</p>